{% extends 'blog/base.html' %}

{% block content %}

    <div class="row" style="margin: 0px;">
        <div class="col-1-5" style="width: 20%; float: left; ">

        </div>
        <div class="col-3-5" style="width: 40%; float: left; margin-left: 0px; ">
            {% if posts.count > 0 %}
            <h1 style="width: 800px; margin-top: 5px; margin-bottom: 20px;">Posts</h1>

                <div class="contener">
                    {% for post in posts %}
                    <div class="jumbotron" style="padding: 7px;">
                    <h4>{{ post.title }}{% if post.password %}
                    <svg class="bi bi-lock" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                    </svg>
                    {% endif %}</h4>
                      <p class="lead">Opis: {{ post.description|linebreaksbr }}</p>
                      <hr class="my-2" style="margin: 0px;">
                      <p style="color: red;">published: {{ post.date }}</p>
                      <p>Autor: {{ post.author }}</p>
                      <a class="btn btn-success" href="{% url 'post_password' pk=post.id %}" role="button">Czytać dalej</a>
                    </div>
                    {% endfor %}
                </div>

            {% endif %}
        </div>
        <div class="col-1-5" style="width: 20%; float: left; margin-left: 0px; ">
        </div>
    </div>




{% endblock %}